.dashboard-container {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  color: white;
  padding: 20px;

  background: #020617;
  border-right: 1px solid #1e293b;
}

.sidebar h2 {
  margin-bottom: 20px;
  color: #60a5fa;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 12px;
}

.sidebar ul li a {
  color: #cbd5f5;
  text-decoration: none;
  display: block;
  padding: 12px;
  border-radius: 10px;
  transition: 0.3s;
}

.sidebar ul li a:hover {
  background: linear-gradient(45deg, #2563eb, #7c3aed);
  color: white;
}

/* CONTENT */
.dashboard-content {
  flex: 1;
  padding: 30px;
  background: #0f172a;
}

/* SECTIONS */
.dashboard-section {
  margin-top: 30px;
}

/* TABLE */
.dashboard-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;

  background: #1e293b;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.dashboard-table th,
.dashboard-table td {
  padding: 14px;
  text-align: center;
}

.dashboard-table th {
  background: #020617;
  color: #60a5fa;
}

.dashboard-table td {
  border-bottom: 1px solid #334155;
  color: #e2e8f0;
}

.dashboard-table tr:hover {
  background: rgba(37, 99, 235, 0.1);
}