.form-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

form div {
  margin-bottom: 18px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #1e2a38;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #2d4054;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  display: block;
}

.checkbox-group {
 display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
}

.checkbox-group label {
  font-weight: normal;
}
.checkbox-group input {
  margin-right: 8px;
}