.navbar {
  background-color: #1e2a38;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: #f4c542;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f7fb;
  color: #222;
}

main {
  padding: 40px;
}
main h1 {
  text-align: center;
  margin-bottom: 20px;
}
.footer {
  background-color: #1e2a38;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
.hero {
  text-align: center;
  padding: 60px 20px;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 30px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.hero p {
  margin-bottom: 20px;
}

button {
  padding: 12px 20px;
  border: none;
  background-color: #1e2a38;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #2d4054;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  text-align: center;
  line-height: 1.8;
}
.card h3 {
  margin-bottom: 10px;
}


.card button {
  margin-top: 10px;
}
.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}
ul li {
  margin-bottom: 8px;
}
.card ul {
  list-style: none;
  padding-left: 0;
  margin: 15px 0;
}
h3 {
  text-align: center;
  color: #1e2a38;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  color: #1e2a38;
}


/* jana's css */
.auth-page {
background: linear-gradient(135deg, #0b0f3a, #1f2a6b, #4b0082);
  min-height: 100vh;
}

.auth-page .navbar {
  background-color: white;
  color: #1e2a38;
}

.auth-page .nav-links a {
  color: #1e2a38;
}

.auth-page .nav-links a:hover {
  color: #4a00e0;
}

.auth-page main h1 {
  color: white;
}